<div class="container justify-content-center">
    <%= form_with model: @message do |form| %>
        <div class="d-flex justify-content-between">
            <h2 class="">Create Messages</h2>
            <%= form.submit "Save", class: "btn btn-outline-dark mt-2 mb-2" %>
        </div>
        <table class="table w-100" style="table-layout: fixed;">
            <tr>
                <th>ID: </th>
                <th>Chat ID: </th>
                <th>User ID: </th>
                <th>Body: </th>
                <th>Created At: </th>
                <th>Updated At: </th>
            </tr>
            <tr>
                <td><%= @message.id %></td>
                <td><%= form.collection_select :chat_id, @chats, :id, :participants %></td>
                <td><%= form.collection_select :user_id, @users, :id, :full_name %></td>
                <td><%= form.text_field :body, class: "form-control" %></td>
                <td><%= @message.created_at %></td>
                <td><%= @message.updated_at %></td>
            </tr>
        </table>
        <% if @message.errors.any? %>
            <h5>Error</h5>
            <ul>
                <% @message.errors.full_messages.each do |err| %>
                    <li><%= err %></li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>