<div class="table-responsive container justify-content-center">
    <div class="d-flex justify-content-between">
        <h3 class="">Message</h3>
        <a class="btn btn-outline-dark mt-2 mb-2"href="/messages/new">Add</a>
    </div>
    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>Chat ID: </th>
            <th>User ID: </th>
            <th>Body: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td><%= @message.id %></td>
            <td><%= @message.chat_id %></td>
            <td><%= @message.user_id %></td>
            <td><%= @message.body %></td>
            <td><%= @message.created_at %></td>
            <td><%= @message.updated_at %></td>

            <% if can? :edit, @message %>
                <td><%= link_to("Edit", edit_message_path(@message), class: "btn btn-outline-dark") %></td>
            <% else %>
                <td><%= link_to("Edit", edit_message_path(@message), class: "btn btn-outline-dark disabled") %></td>
            <% end %>
        </tr>
    </table>

    <div class = "mt-5 "><h3>Sender</h3></div>

    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th class = "mx-5"></th>
            <th>ID: </th>
            <th>First Name: </th>
            <th>Last Name: </th>
            <th>Email: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <tr>
            <td><%= link_to("Show", user_path(@user), class: "btn btn-outline-dark") %></td>
            <td><%= @user.id %></td>
            <td><%= @user.first_name %></td>
            <td><%= @user.last_name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.created_at %></td>
            <td><%= @user.updated_at %></td>

            <% if can? :edit, @user %>
                <td><%= link_to("Edit", edit_user_registration_path(@user), class: "btn btn-outline-dark") %></td>
            <% else %>
                <td><%= link_to("Edit", edit_user_registration_path(@user), class: "btn btn-outline-dark disabled") %></td>
            <% end %>
        </tr>
    </table>

    <div class = "mt-5 "><h3>Chat</h3></div>

    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>Sender ID: </th>
            <th>Receiver ID: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <tr>
            <% if can? :show, @chat %>
                <td><%= link_to("Show", chat_path(@chat), class: "btn btn-outline-dark") %></td>
            <% else %>
                <td><%= link_to("Show", chat_path(@chat), class: "btn btn-outline-dark disabled") %></td>
            <% end %>
            
            <td><%= @chat.id %></td>
            <td><%= @chat.sender_id %></td>
            <td><%= @chat.receiver_id %></td>
            <td><%= @chat.created_at %></td>
            <td><%= @chat.updated_at %></td>

            <% if can? :edit, @chat %>
                <td><%= link_to("Edit", edit_chat_path(@chat), class: "btn btn-outline-dark") %></td>
            <% else %>
                <td><%= link_to("Edit", edit_chat_path(@chat), class: "btn btn-outline-dark disabled") %></td>
            <% end %>
        </tr>
    </table>
</div>