<%= render "nav" %>

<table>
    <tr>
        <th>ID: </th>
        <td><%= @message.id %></td>
    </tr>
    <tr>
        <th>Chat ID: </th>
        <td><%= @message.chat_id %></td>
    </tr>
    <tr>
        <th>User ID: </th>
        <td><%= @message.user_id %></td>
    </tr>
    <tr>
        <th>Body: </th>
        <td><%= @message.body %></td>
    </tr>
    <tr>
        <th>Created at: </th>
        <td><%= @message.created_at %></td>
    </tr>
    <tr>
        <th>Updated_at: </th>
        <td><%= @message.updated_at %></td>
    </tr>
</table>
<br>
<a href="/messages">Go Back</a>