<div class="table-responsive container justify-content-center" style="table-layout: fixed;">
    <div class="d-flex justify-content-between">
        <h3 class="">User</h2>
    </div>
    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>First Name: </th>
            <th>Last Name: </th>
            <th>Email: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td><%= @user.id %></td>
            <td><%= @user.first_name %></td>
            <td><%= @user.last_name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.created_at %></td>
            <td><%= @user.updated_at %></td>

            <% if can? :edit, @user %>
                <td><%= link_to("Edit", edit_user_registration_path(@user), class: "btn btn-outline-dark") %></td>
            <% else %>
                <td><%= link_to("Edit", edit_user_registration_path(@user), class: "btn btn-outline-dark disabled") %></td>
            <% end %>
        </tr>
    </table>

    <div class = "mt-5"><h3>Participated Chats</h2></div>

    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>Sender ID: </th>
            <th>Receiver ID: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <% @chats.each do |chat| %>
            <tr>
                <% if can? :show, chat %>
                    <td><%= link_to("Show", chat_path(chat), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td><%= link_to("Show", chat_path(chat), class: "btn btn-outline-dark disabled") %></td>
                <% end %>

                <td><%= chat.id %></td>
                <td><%= chat.sender_id %></td>
                <td><%= chat.receiver_id %></td>
                <td><%= chat.created_at %></td>
                <td><%= chat.updated_at %></td>

                <% if can? :edit, chat %>
                    <td><%= link_to("Edit", edit_chat_path(chat), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td><%= link_to("Edit", edit_chat_path(chat), class: "btn btn-outline-dark disabled") %></td>
                <% end %>
            </tr>
        <% end %>
    </table>

    <div class = "mt-5"><h3>Sent Messages</h2></div>

    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>Chat ID: </th>
            <th>User ID: </th>
            <th>Body: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <% @messages.each do |message| %>
            <tr>
                <% if can? :show, message %>
                    <td><%= link_to("Show", message_path(message), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td><%= link_to("Show", message_path(message), class: "btn btn-outline-dark disabled") %></td>
                <% end %>

                <td><%= message.id %></td>
                <td><%= message.chat_id %></td>
                <td><%= message.user_id %></td>

                <% if can? :show, message %>
                    <td><%= message.body %></td>
                <% else %>
                    <td><p class="text-muted">Content Hidden</p></td>
                <% end %>
                
                <td><%= message.created_at %></td>
                <td><%= message.updated_at %></td>

                <% if can? :edit, message %>
                    <td><%= link_to("Edit", edit_message_path(message), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td><%= link_to("Edit", edit_message_path(message), class: "btn btn-outline-dark disabled") %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>