<div class="table-responsive container justify-content-center" style="table-layout: fixed;">
    <div class="d-flex justify-content-between">
        <h3 class="">Chats</h3>
        <a class="btn btn-outline-dark mt-2 mb-2"href="/chats/new">Add</a>
    </div>
    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th></th>
            <th>ID: </th>
            <th>Sender ID: </th>
            <th>Receiver ID: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
            <th></th>
        </tr>
        <% @chats.each do |chat| %>
            <tr>
                <% if can? :show, chat %>
                    <td><%= link_to("Show", chat_path(chat), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td></td>
                <% end %>

                <td><%= chat.id %></td>
                <td><%= chat.sender_id %> <span class="text-muted">(<%= chat.sender_name %>)</span></td>
                <td><%= chat.receiver_id %> <span class="text-muted">(<%= chat.receiver_name %>)</span></td>
                <td><%= chat.created_at %></td>
                <td><%= chat.updated_at %></td>

                <% if can? :edit, chat %>
                    <td><%= link_to("Edit", edit_chat_path(chat), class: "btn btn-outline-dark") %></td>
                <% else %>
                    <td></td>
                <% end %>
            </tr>
        <% end %>
</table>