<div class="table-responsive container justify-content-center" style="table-layout: fixed;">
    <div class="d-flex justify-content-between">
        <h2 class="">Chats</h2>
        <a class="btn btn-outline-dark mt-2 mb-2"href="/chats/new">Add</a>
    </div>
    <table class="table w-100" style="table-layout: fixed;">
        <tr>
            <th>ID: </th>
            <th>Sender ID: </th>
            <th>Receiver ID: </th>
            <th>Created At: </th>
            <th>Updated At: </th>
        </tr>
        <% @chats.each do |chat| %>
            <tr>
                <td><%= link_to(chat.id, chat_path(chat)) %></td>
                <td><%= chat.sender_id %></td>
                <td><%= chat.receiver_id %></td>
                <td><%= chat.created_at %></td>
                <td><%= chat.updated_at %></td>
            </tr>
        <% end %>
</table>