<%= render "nav" %>

<table>
    <tr>
        <th>ID: </th>
        <td><%= @chat.id %></td>
    </tr>
    <tr>
        <th>Sender ID: </th>
        <td><%= @chat.sender_id %></td>
    </tr>
    <tr>
        <th>Receiver ID: </th>
        <td><%= @chat.receiver_id %></td>
    </tr>
    <tr>
        <th>Created at: </th>
        <td><%= @chat.created_at %></td>
    </tr>
    <tr>
        <th>Updated_at: </th>
        <td><%= @chat.updated_at %></td>
    </tr>
</table>
<br>
<a href="/chats">Go Back</a>
